.compra-modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.compra-modal{
    width: 90%;
    height: 90%;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--color-fucsia);
}

.compra-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
    gap: 15px;
    height: 100%;
}

.compra-container .filters-section{
    flex: 0 0 320px; /* Ancho fijo */
    max-width: 320px;
    overflow-y: auto;
    padding-top: 50px;
}

.compra-container .products-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
}

.compra-container .products-section h2{
    font-size: 24px;
    margin-bottom: 10px;
}

.compra-container .products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Máximo 4 productos por fila */
    gap: 10px;
    overflow-y: auto;
    max-height: 100%;
    padding-right: 5px;
}

/* 📌 Sección del carrito (derecha) */
.compra-container .cart-section {
    flex: 0 0 620px; /* Ancho fijo */
    max-width: 620px;
    overflow-y: auto;
    padding: 15px;
    padding-top: 25px;
}